 body {
            display: flex;
            justify-content: center;
            align-items: center;     
            height: 100vh;           
            margin: 0;
            background-color: #2c3e50; 
        }

#movingBox {
    width: 100px;
    height: 100px;
    background-color: #e74c3c; 
    border-radius: 50%;
    }